$edit-border-color: #2e6da4;
$edit-background-color: #eff5fb;
$text-color: #222;

a.editable {
    position: relative;
    display: block;
    text-decoration: none;
    color: $text-color;
    padding: 5px;
    margin: 0 0 5px -5px;
    border: 1px solid transparent;
}

a.editable > p {
    margin-bottom: 0;
}

/* Hide button group by default */
.edit-group {
    position: absolute;
    top: -22px;
    right: -1px;
    visibility: hidden;
}

/* Square edges on button group */
.edit-group > button {
    border-bottom: 0 !important;
    border-radius:         0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius:    0px !important;
}

/* Hover and 'show' state - background and border 
a.editable:hover, a.editable[data-state=show] {
    text-decoration: none;
    color: $text-color;
    border: 1px solid $edit-border-color;
    background-color: $edit-background-color;
}
*/

/* Hover and 'show' state - make button group visible 
a.editable:hover > .edit-group,
a.editable[data-state=show] > .edit-group {
    visibility: visible;
}
*/
